@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@keyframes moveCard {
	0% { margin-top: 100vh; }
	100% { margin-top: 0; }
}

@keyframes moveheader {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes click {
	0% { transform: scale(1); }
	50% { transform: scale(0.95); }
	100% { transform: scale(1); }
}

/** ШАПКА **/

header {
	background-color: #F4F4F4;
}

.header__container {
	padding: 0 310px 0 310px;
}

.header__logo {
	width: 5%;
}

.nav {
	display: flex;
	font-size: 22px;
	align-items: center;
	margin: 0;
}

.nav__animation {
	animation: moveheader 1.5s 1;
}

ul {
	list-style: none;
	padding-left: 0;
}

.nav__name {
	margin-left: 20px;
}

a {
	text-decoration: none;
	color: #1E233A;
	transition: color 0.1s;
}

.menu__title {
	display: none;
}

.login {
	display: flex;
	margin: 0;
	margin-left: auto;
	align-items: center;
}

.login__nav {
	margin-left: 20px;
}

.push {
	margin-left: 10px;
}

.header__line {
	margin: 0 auto;
	width: 75%;
	opacity: 0.5;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

/** BODY **/

body {
	margin: 0;
	background-color: #F8F8F8;
	font-family: 'Roboto Condensed', sans-serif;
	color: #1E233A;
}

/****************** КАТАЛОГ *****************/

.pick {
	color: #213691;
}

.opacity, .padding {
	transition: color 0.2s;
}

.padding {
	padding-left: 35px;
}

.padding:hover,
.opacity:hover {
	color: #213691;
}

#main {
	display: flex;
	padding: 0 230px 0 310px;
}

.move__animation {
	animation: moveCard 0.6s 1;
}

.container {
	display: block;
	padding-right: 20px;
}

.kat__head {
	display: flex;
	font-size: 28px;
	padding-top: 10px;
	margin: 14px 0 0 0;
}

.kat__item {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	background: #EFEFEF;
	border-radius: 10px 7px;
	padding: 0 5px 1px 5px;
	margin-bottom: 20px;
}

.kat__nav {
	font-family: "Roboto Condensed", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	width: 120px;
	line-height: 35px;
}

/* скрываем чекбокс */
#menu__toggle, #menu__toggle2 {
	display: none;
}

.kat__nav__line {
	border-bottom: 1px solid rgba(129, 129, 129, 0.25);
	display: block;
	padding-top: 5px;
	width: 175px;
}

/************** ИЗОБРАЖЕНИЯ ТОВАРОВ В КАТАЛОГЕ **************/

.fishline,
.fishline_a,
.fishrod,
.fishrod_a,
.spin,
.spin_a,
.coils,
.coils_a,
.bombards,
.bombards_a,
.carbines,
.carbines_a,
.scales,
.scales_a,
.sinkers,
.sinkers_a,
.tools,
.tools_a,
.feeders,
.feeders_a,
.hooks,
.hooks_a,
.clothes,
.clothes_a,
.leashes,
.leashes_a,
.subchecks,
.subchecks_a,
.floats,
.floats_a,
.bait,
.bait_a,
.baits,
.baits_a,
.cages,
.cages_a,
.chairs,
.chairs_a,
.covers,
.covers_a {
	background-repeat: no-repeat;
	margin-left: 8px;
	background-size: contain;
	transition: 0.1s linear;
}

.fishline_a,
.fishrod_a,
.spin_a,
.coils_a,
.bombards_a,
.carbines_a,
.scales_a,
.sinkers_a,
.tools_a,
.feeders_a,
.hooks_a,
.clothes_a,
.leashes_a,
.subchecks_a,
.floats_a,
.bait_a,
.baits_a,
.cages_a,
.chairs_a,
.covers_a {
	color: #213691;
}

.fishline {
	background-image: url(../images/katalog/catimg/fishline-1.png);
}

.fishline:hover,
.fishline_a {
	background-image: url(../images/katalog/catimg/fishline-2.png);
}

.fishrod {
	background-image: url(../images/katalog/catimg/fishrod-1.png);
}

.fishrod:hover,
.fishrod_a {
	background-image: url(../images/katalog/catimg/fishrod-2.png);
}

.spin {
	background-image: url(../images/katalog/catimg/spin-1.png);
}

.spin:hover,
.spin_a {
	background-image: url(../images/katalog/catimg/spin-2.png);

}

.coils {
	background-image: url(../images/katalog/catimg/coils-1.png);
}

.coils:hover,
.coils_a {
	background-image: url(../images/katalog/catimg/coils-2.png);
}

.bombards {
	background-image: url(../images/katalog/catimg/bombards-1.png);
}

.bombards:hover,
.bombards_a {
	background-image: url(../images/katalog/catimg/bombards-2.png);
}

.carbines {
	background-image: url(../images/katalog/catimg/carbines-1.png);
}

.carbines:hover,
.carbines_a {
	background-image: url(../images/katalog/catimg/carbines-2.png);
}

.scales {
	background-image: url(../images/katalog/catimg/scales-1.png);
}

.scales:hover,
.scales_a {
	background-image: url(../images/katalog/catimg/scales-2.png);
}

.sinkers {
	background-image: url(../images/katalog/catimg/sinkers-1.png);
}

.sinkers:hover,
.sinkers_a {
	background-image: url(../images/katalog/catimg/sinkers-2.png);
}

.tools {
	background-image: url(../images/katalog/catimg/tools-1.png);
}

.tools:hover,
.tools_a {
	background-image: url(../images/katalog/catimg/tools-2.png);
}

.feeders {
	background-image: url(../images/katalog/catimg/feeders-1.png);
}

.feeders:hover,
.feeders_a {
	background-image: url(../images/katalog/catimg/feeders-2.png);
}

.hooks {
	background-image: url(../images/katalog/catimg/hooks-1.png);
}

.hooks:hover,
.hooks_a {
	background-image: url(../images/katalog/catimg/hooks-2.png);
}

.clothes {
	background-image: url(../images/katalog/catimg/clothes-1.png);
}

.clothes:hover,
.clothes_a {
	background-image: url(../images/katalog/catimg/clothes-2.png);
}

.leashes {
	background-image: url(../images/katalog/catimg/leashes-1.png);
}

.leashes:hover,
.leashes_a {
	background-image: url(../images/katalog/catimg/leashes-2.png);
}

.subchecks {
	background-image: url(../images/katalog/catimg/subchecks-1.png);
}

.subchecks:hover,
.subchecks_a {
	background-image: url(../images/katalog/catimg/subchecks-2.png);
}

.floats {
	background-image: url(../images/katalog/catimg/floats-1.png);
}

.floats:hover,
.floats_a {
	background-image: url(../images/katalog/catimg/floats-2.png);
}

.bait {
	background-image: url(../images/katalog/catimg/bait-1.png);
}

.bait:hover,
.bait_a {
	background-image: url(../images/katalog/catimg/bait-2.png);
}

.baits {
	background-image: url(../images/katalog/catimg/baits-1.png);
}

.baits:hover,
.baits_a {
	background-image: url(../images/katalog/catimg/baits-2.png)
}

.cages {
	background-image: url(../images/katalog/catimg/cages-1.png);
}

.cages:hover,
.cages_a {
	background-image: url(../images/katalog/catimg/cages-2.png);
}

.chairs {
	background-image: url(../images/katalog/catimg/chairs-1.png);
}

.chairs:hover,
.chairs_a {
	background-image: url(../images/katalog/catimg/chairs-2.png);
}

.covers {
	background-image: url(../images/katalog/catimg/covers-1.png);
}

.covers:hover,
.covers_a {
	background-image: url(../images/katalog/catimg/covers-2.png);
}























.text {
	background: #EFEFEF;
	padding: 11px 8px;
	border-radius: 12px;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 170px;
}

.texth1 {
	margin: 0;
	font-size: 20px;
}

.blackline {
	display: block;
	width: 120px;
	height: 1px;
	margin: 8px auto;
	background-color: #adadad;
}

.mytext {
	margin: 3px;
	font-size: 18px;
}


/********* НАЗВАНИЕ, ПОИСК, ИЗОБРАЖЕНИЕ *******/

.main {
	padding-top: 20px;
}

.block {
	display: flex;
}

.name {
	font-family: "Roboto Condensed", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	margin: 0 0 22px 0;
}

.search-cat {
	margin-left: 320px;
}



.searchicon {
	position: relative;
	left: 40px;
	width: 18px;
	margin-right: 10px;
}

form {
	display: flex;

}

.search__t, .send__t {
	border: none;
	padding-right: 0;
	width: 150px;
	outline: none;
	padding-left: 7px;
	color: #6798e3;
	font-size: 18px;
}

.search__t {
	display: flex;
	background: #FFFFFF;
	border: 2px solid #fff;
	border-radius: 36px;
	width: 150px;
	height: 35px;
	padding-left: 35px;
	padding-right: 10px;
	align-items: center;
	transition: 0.2s linear;
}

.search__t:focus {
	width: 230px;
}


.photo {
	width: 92.5%;
	height: 366px;
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}

.shopes {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	margin-top: 10px;
}

.shopes2-animation {
	animation: moveheader 1s 1;
}


/***************** ТОВАРЫ *****************/

.products__item {
	display: inline-block;
	width: 245px;
	height: 250px;
	border: 1px solid rgba(29, 174, 255, 0.5);
	margin-right: 25px;
	margin-bottom: 22px;
	transition: box-shadow 0.2s linear;
}

.products__item:hover {
	border: none;
	box-shadow: 2px 3px 20px rgba(0,0,0,0.5);
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 26px;
}

.products__item:nth-child(7),
.products__item:nth-child(11),
.products__item:nth-child(15),
.products__item:nth-child(19) {
	margin-right: 0px;
}

.products__item:nth-child(7):hover,
.products__item:nth-child(11):hover,
.products__item:nth-child(15):hover,
.products__item:nth-child(19):hover {
	margin-right: 0px;
}

.products__item-bgimgfishrod,
.products__item-bgimgspin,
.products__item-bgimgcoils,
.products__item-bgimgbombards,
.products__item-bgimgcarbines,
.products__item-bgimgscales,
.products__item-bgimgsinkers,
.products__item-bgimgtools,
.products__item-bgimgfeeders,
.products__item-bgimghooks,
.products__item-bgimgclothes,
.products__item-bgimgleashes,
.products__item-bgimgsubchecks,
.products__item-bgimgfloats,
.products__item-bgimgbait,
.products__item-bgimgbaits,
.products__item-bgimgcages,
.products__item-bgimgchairs,
.products__item-bgimgcovers {
	background-size: 245px 250px;
	background-repeat: no-repeat;
}

.products__item-bgimgfishrod {
	background-image: url(../images/katalog/mainimg/fishrod/fishrod.jpg);
}

.products__item-bgimgspin {
	background-image: url(../images/katalog/mainimg/spin/spin.jpg);
}

.products__item-bgimgcoils {
	background-image: url(../images/katalog/mainimg/coils/coils.jpg);
}

.products__item-bgimgbombards {
	background-image: url(../images/katalog/mainimg/bombards/bombards.jpg);
}

.products__item-bgimgcarbines {
	background-image: url(../images/katalog/mainimg/carbines/carbines.jpg);
}

.products__item-bgimgscales {
	background-image: url(../images/katalog/mainimg/scales/scales.png);
}

.products__item-bgimgsinkers {
	background-image: url(../images/katalog/mainimg/sinkers/sinkers.jpg);
}

.products__item-bgimgtools {
	background-image: url(../images/katalog/mainimg/tools/tools.jpg);
}

.products__item-bgimgfeeders {
	background-image: url(../images/katalog/mainimg/feeders/feeders.jpg);
}

.products__item-bgimghooks {
	background-image: url(../images/katalog/mainimg/hooks/hooks.jpg);
}

.products__item-bgimgclothes{
	background-image: url(../images/katalog/mainimg/clothes/clothes.jpg);
}

.products__item-bgimgleashes{
	background-image: url(../images/katalog/mainimg/leashes/leashes.jpg);
}

.products__item-bgimgsubchecks {
	background-image: url(../images/katalog/mainimg/subchecks/subchecks.png);
}

.products__item-bgimgfloats{
	background-image: url(../images/katalog/mainimg/floats/floats.jpg);
}

.products__item-bgimgbait {
	background-image: url(../images/katalog/mainimg/bait/bait.png);
}

.products__item-bgimgbaits {
	background-image: url(../images/katalog/mainimg/baits/baits.jpg);
}

.products__item-bgimgcages {
	background-image: url(../images/katalog/mainimg/cages/cages.png);
}

.products__item-bgimgchairs {
	background-image: url(../images/katalog/mainimg/chairs/chairs.jpg);
}

.products__item-bgimgcovers{
	background-image: url(../images/katalog/mainimg/covers/covers.jpg);
}

.item__bgimgspin,
.item__bgimgfishrod,
.item__bgimgcoils,
.item__bgimgbombards,
.item__bgimgcarbines,
.item__bgimgscales,
.item__bgimgsinkers,
.item__bgimgtools,
.item__bgimgfeeders,
.item__bgimghooks,
.item__bgimgclothes,
.item__bgimgleashes,
.item__bgimgsubchecks,
.item__bgimgfloats,
.item__bgimgbait,
.item__bgimgbaits,
.item__bgimgcages,
.item__bgimgchairs,
.item__bgimgcovers {
	position: absolute;
	padding-top: 50px;
	top: 598px;
	background-repeat: no-repeat;
	background-size: 50px;
	width: 244px;
	height: 200px;
	animation: moveCard 0.6s 1;
}

.it123 {
	padding: 200px;
}

.item__bgimgcarbines,
.item__bgimgscales,
.item__bgimgsinkers,
.item__bgimgtools,
.item__bgimgfeeders,
.item__bgimghooks {
	top: 875px;
}

.item__bgimghooks,
.item__bgimgclothes,
.item__bgimgleashes,
.item__bgimgsubchecks {
	top: 1150px;
}

.item__bgimgfloats,
.item__bgimgbait,
.item__bgimgbaits,
.item__bgimgcages {
	top: 1425px;
}

.item__bgimgchairs,
.item__bgimgcovers {
	top: 1700px;
}

.item__bgimgspin,
.item__bgimgcarbines,
.item__bgimghooks,
.item__bgimgfloats,
.item__bgimgchairs {
	left: 535px;
}

.item__bgimgfishrod,
.item__bgimgscales,
.item__bgimgclothes,
.item__bgimgbait,
.item__bgimgcovers {
	left: 810px;
}

.item__bgimgcoils,
.item__bgimgtools,
.item__bgimgleashes,
.item__bgimgbaits {
	left: 1085px;
}

.item__bgimgbombards,
.item__bgimgfeeders,
.item__bgimgsubchecks,
.item__bgimgcages {
	left: 1365px;
}

.item__bgimgspin {
	background-image: url(../images/katalog/mainimg/spin/spin-1.png);
}

.item__bgimgspin:hover {
	background-image: url(../images/katalog/mainimg/spin/spin-2.png);
}

.item__bgimgfishrod{
	background-image: url(../images/katalog/mainimg/fishrod/fishrod-1.png);
	background-size: 40px;
}

.item__bgimgfishrod:hover {
	background-image: url(../images/katalog/mainimg/fishrod/fishrod-2.png);
}

.item__bgimgcoils {
	background-image: url(../images/katalog/mainimg/coils/coils-1.png);
}

.item__bgimgcoils:hover {
	background-image: url(../images/katalog/mainimg/coils/coils-2.png);
}

.item__bgimgbombards {
	background-image: url(../images/katalog/mainimg/bombards/bombards-1.png);
	background-size: 40px;
}

.item__bgimgbombards:hover {
	background-image: url(../images/katalog/mainimg/bombards/bombards-2.png);
}

.item__bgimgcarbines {
	background-image: url(../images/katalog/mainimg/carbines/carbines-1.png);
	background-size: 42px;
}

.item__bgimgcarbines:hover {
	background-image: url(../images/katalog/mainimg/carbines/carbines-2.png);
}

.item__bgimgscales {
	background-image: url(../images/katalog/mainimg/scales/scales-1.png);
	background-size: 45px;
}

.item__bgimgscales:hover {
	background-image: url(../images/katalog/mainimg/scales/scales-2.png);
}

.item__bgimgtools {
	background-image: url(../images/katalog/mainimg/tools/tools-1.png);
	background-size: 42px;
}

.item__bgimgtools:hover {
	background-image: url(../images/katalog/mainimg/tools/tools-2.png);
}

.item__bgimgfeeders {
	background-image: url(../images/katalog/mainimg/feeders/feeders-1.png);
	background-size: 42px;
}

.item__bgimgfeeders:hover {
	background-image: url(../images/katalog/mainimg/feeders/feeders-2.png);
}

.item__bgimghooks {
	background-image: url(../images/katalog/mainimg/hooks/hooks-1.png);
	background-size: 40px;
}

.item__bgimghooks:hover {
	background-image: url(../images/katalog/mainimg/hooks/hooks-2.png);
}

.item__bgimgclothes{
	background-image: url(../images/katalog/mainimg/clothes/clothes-1.png);
}

.item__bgimgclothes:hover {
	background-image: url(../images/katalog/mainimg/clothes/clothes-2.png);
}

.item__bgimgleashes {
	background-image: url(../images/katalog/mainimg/leashes/leashes-1.png);
}

.item__bgimgleashes:hover {
	background-image: url(../images/katalog/mainimg/leashes/leashes-2.png);
}

.item__bgimgsubchecks{
	background-image: url(../images/katalog/mainimg/subchecks/subchecks-1.png);
	background-size: 42px;
}

.item__bgimgsubchecks:hover {
	background-image: url(../images/katalog/mainimg/subchecks/subchecks-2.png);
}

.item__bgimgfloats {
	background-image: url(../images/katalog/mainimg/floats/floats-1.png);
	background-size: 42px;
}

.item__bgimgfloats:hover {
	background-image: url(../images/katalog/mainimg/floats/floats-2.png);
}


.item__bgimgbait {
	background-image: url(../images/katalog/mainimg/bait/bait-1.png);
	background-size: 42px;
}

.item__bgimgbait:hover {
	background-image: url(../images/katalog/mainimg/bait/bait-2.png);
}

.item__bgimgbaits {
	background-image: url(../images/katalog/mainimg/baits/baits-1.png);
	background-size: 42px;
}

.item__bgimgbaits:hover {
	background-image: url(../images/katalog/mainimg/baits/baits-2.png);
}

.item__bgimgcages{
	background-image: url(../images/katalog/mainimg/cages/cages-1.png);
	left: 1365px;
	background-size: 42px;
}

.item__bgimgcages:hover {
	background-image: url(../images/katalog/mainimg/cages/cages-2.png);
}

.item__bgimgchairs {
	background-image: url(../images/katalog/mainimg/chairs/chairs-1.png);
	background-size: 38px;
}

.item__bgimgchairs:hover {
	background-image: url(../images/katalog/mainimg/chairs/chairs-2.png);
}

.item__bgimgcovers {
	background-image: url(../images/katalog/mainimg/covers/covers-1.png);
	background-size: 42px;
}

.item__bgimgcovers:hover {
	background-image: url(../images/katalog/mainimg/covers/covers-2.png);
}










































.item__text {
	display: flex;
	flex-direction: column;
}

.products__item-spin {
	height: 250px;
	padding: 0 0 5px;
}

.item__text {
	display: flex;
	flex-direction: column;
	margin-top: 215px;
	margin-left: 20px;
}

.item__name {
	font-family: Roboto Condensed;
	font-size: 20px;
	margin: 0;
}

.item__name:hover {
	color: #4834d4;
}

.item__photo {
	width: 65%;
}

.price {
	font-family: "Roboto Condensed", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	margin: 0;
	margin-top: 15px;
}

.tovar__item {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 50px;
}

.tovar__item-img {
	width: 25%;
}

.tovar__item-text {
	margin-left: 100px;
	margin-right: 50px;
}

.tovar-price {
	font-weight: bold;
	font-size: 22px;
}

.tovar-btn {
	padding: 0 70px;
	margin-top: 120px;
	height: 15%;
	font-family: Roboto;
	font-size: 17px;
	border-radius: 5px;
	border: none;
	background-color: #b33939;
	color: #fff;
	cursor: pointer;
	transition: transform .1s;
}

.tovar-btn:hover {
	color: #ecf0f1;
}

.tovar-btn:active {
	transform: scale(0.97);
}

.tovar-btn:focus {
	animation: buy .7s 1;
}

.tovar-fishing {
	width: 42%;
	height: 283px;
}

.tovar__description {
	padding-right: 50px;
}

.tovar__description-text {
	font-size: 18px;
	margin-bottom: 40px;
}

.tovar__description-imgs {
	display: flex;
	flex-direction: column;
}

.description-img {
	width: 65%;
}

.blank {
	margin-top: 30px;
	margin-bottom: 0;
}

.ulmargin {
	margin-top: 0;
	font-size: 18px;
}

/** ПОДВАЛ **/

footer {
	background: #F4F4F4;
	color: #1E233A;
	margin-top: 5%;
}

.footer__main {
	display: flex;
	justify-content: space-between;
	padding: 30px 320px;
}

.footer__logo {
	width: 160px;
	height: 160px;
	margin-top: 70px;
}

/********************* РАССЫЛКА ************/

.send {
	margin-top: 35px;
}

.sendblock {
	display: flex;
	padding: 8px;
	padding-left: 15px;
	background: #FFFFFF;
	border-radius: 36px;
	width: 400px;
	height: 50px;
	justify-content: space-between;
	align-items: center;
}

.send__t {
	font-family: "Barlow", sans-serif;
	font-size: 20px;
	width: 345px;
	padding-left: 0;
}


.sendicon {
	margin: 0;
}

/****************** КОНТАКТЫ ****************/

.contacts__name {
	font-family: "Barlow", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	display: flex;
	margin: 0 0 15px 0;
}

.contacts__icon {
	display: flex;
}

.contacts__icon1 {
	padding-right: 5px;
}

.contacts__icon2 {
	padding-right: 8px;
}

.contacts__text {
	font-family: "Barlow", sans-serifs;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}

/************** СОЦ. СЕТИ ******************/

.social__block {
	display: flex;
	justify-content: center;
}

.social__icon {
	margin: 0 5px;
}

/*************** ПРАВА *********************/

.private {
	display: flex;
	justify-content: center;
}

.private__text {
	margin: 0;
	font-family: "Barlow", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	text-align: center;
	color: #3A4153;
}

.footer__line {
	padding: 0 100px;
}

.l {
	width: 100%;
	margin: 30px 0 10px 0;
}

.nav__click {
	color:rgb(0, 87, 109);
}

.item__img {
	width: 180px;
	height: 144px;
}

.kat__head2, .strelka {
	display: none;
}

/********************* ВХОД *********************/


.container__login {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 130px 340px 80px 300px;
}

.sign {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	animation: moveCard 0.5s 1;
	background-color: #fff;
	font-family: 'Roboto Condensed', sans-serif;;
	padding: 30px 40px 50px 40px;
}

.sign__item-form {
	display: flex;
	flex-direction: column;
}

.sign__item-file:nth-child(2) {
	margin: 20px 0;
}

.sign__item-file__text {
	margin: 5px 0;
	font-size: 18px;
	color: #576574;
	font-weight: 600;
}

.sign__form {
	padding: 8px 10px;
	width: 300px;
	height: 22px;
	transition: transform 0.3s;
	font-size: 18px;
	background-color: whitesmoke;
	border: none;
}

.sign__form:focus {
	outline: none;
	border: 2px solid #2e86de;
	padding: 6px 8px;
}

.sign__btn {
	padding: 8px 10px;
	transition: color 0.3s;
	cursor: pointer;
	font-size: 15px;
	color: #fff;
	background-color: #2e86de;
	border: 2px outset #2980b9;
	border-radius: 3px;
	font-family: "Roboto", sans-serif;
}

.sign__btn:hover {
	background-color: #54a0ff;
}

.sign__btn:active {
	animation: click 0.2s 1;
}

.fd {
	display: flex;
	align-items: center;
	margin-right: 60px;
}

.btn {
	margin-left: 51.47%;
}

.check {
	font-size: 18px;
	color: #576574;
}

.menu__box {
	z-index: 1;
}

.menu__box2 {
	z-index: 2;
}

.menu__btn {
	z-index: 2;
}

.menu__btn2 {
	z-index: 3;
}

@media (min-width: 2180px) {

	.search {
		margin-left: 563px;
	}

	.header__container {
		padding: 0 545px 0 500px;
	}

	.header__line {
		width: 65%;
	}

	.products {
		padding-right: 450px;
	}

	.search__t {
		width: 315px;
	}

	.container {
		margin-left: 500px;
		padding-right: 30px;
	}

	.footer__main {
		padding: 30px 600px;
	}

	.send__t {
		width: 345px;
	}

	.contacts__name {
		font-size: 20px;
	}

	.contacts__text {
		font-size: 18px;
		margin: 13px 0;
	}

	.private__text {
		font-size: 15px;
	}

	.footer__line {
		padding: 0 450px;
	}

	.products__item:hover {
		left: 1x;
		margin-right: 1.99%;
	}

}

@media (min-width: 1572px) and (max-width: 1840px) {
	.search-cat {
		margin-left: 25.5%;
	}

	.search__t {
		width: 300xpx;
	}

	.header__container {
		padding: 0 150px;
	}

	#main {
		padding: 0 70px 0 150px;
	}

	.header__line {
		width: 85%;
	}

	.item__bgimgspin,
	.item__bgimgcarbines,
	.item__bgimghooks,
	.item__bgimgfloats,
	.item__bgimgchairs {
		left: 380px;
	}

	.item__bgimgfishrod,
	.item__bgimgscales,
	.item__bgimgclothes,
	.item__bgimgbait,
	.item__bgimgcovers {
		left: 655px;
	}

	.item__bgimgcoils,
	.item__bgimgtools,
	.item__bgimgleashes,
	.item__bgimgbaits {
		left: 930px;
	}

	.item__bgimgbombards,
	.item__bgimgfeeders,
	.item__bgimgsubchecks,
	.item__bgimgcages {
		left: 1210px;
	}

	.send {
		margin-left: 50px;
	}

	.footer__main {
		padding: 30px 170px;
	}

}

@media (min-width: 1331px) and (max-width: 1571px) {

	.search-cat {
		margin-left: 25.5%;
	}

	.search__t {
		width: 216px;
	}

	.header__container {
		padding: 0 200px;
	}

	.container {
		margin-left: 200px;
	}

	.products {
		padding-right: 130px;
	}

	.products__item {
		width: 22%;
		margin-right: 10px;
		margin-bottom: 13px;
	}

	.searchblock {
		display: flex;
		padding-left: 10px;
		background: #FFFFFF;
		border-radius: 36px;
		width: 250px;
		height: 45px;
	}

	.search__t {
		width: 215px;
	}

	.footer__main {
		padding: 30px 200px;
	}

	.send__t {
		width: 345px;
	}

}

@media (min-width: 1200px) and (max-width: 1330px) {

	.search-cat {
		margin-left: 132px;
	}

	.search__t {
		width: 216px;
	}

	.header__container {
		padding: 0 120px;
	}

	.header__line {
		width: 84%;
	}

	.container {
		margin-left: 120px;
	}

	.products {
		padding-right: 102px;
	}

	.products__item {
		width: 22%;
		margin-right: 10px;
		margin-bottom: 13px;
	}

	.photo {
		width: 95%;
	}

	.searchblock {
		display: flex;
		padding-left: 10px;
		background: #FFFFFF;
		border-radius: 36px;
		width: 250px;
		height: 45px;
	}

	.footer__main {
		padding: 30px 120px;
	}

}

/* планшеты горизонтально */
@media (min-width: 992px) and (max-width: 1199px) {

	.search-cat {
		margin-left: 125px;
	}

	.tovar__item {
		justify-content: center;
		padding-left: 60px;
	}

	.tovar__item-text {
		margin-left: 110px;
		margin-right: 100px;
	}

	.tovar-btn {
		padding: 0 30px;
		margin-top: 80px;
		height: 18%;
		font-size: 16px;
	}

	.tovar-fishing {
		display: none;
	}

	.header__container {
		padding: 0 40px;
	}

	.header__line {
		width: 95%;
	}

	.container {
		margin-left: 30px;
	}

	.products__item:hover {
		margin-right: 12px;
	}

	.searchblock {
		width: 250px;
		height: 45px
	}

	.search__t {
		width: 215px;
	}

	.footer__main {
		justify-content: space-between;
		padding: 30px 70px 0 70px;
	}

	.photo {
		width: 96%;
	}

	.shopes {
		font-size: 25px;
	}

	.sendblock {
		width: 300px;
		height: 40px;
		margin-left: 35px;
	}

	.products {
		padding-right: 0;
	}

	.products__item {
		width: 22%;
		margin-right: 10px;
		margin-bottom: 13px;
	}

	.item__name {
		font-size: 17px;
	}

	.price {
		font-size: 15px;
	}

	.container__login {
		padding: 80px 0 10px 0;
	}

	.send__t {
		width: 245px;
	}

	.footer__line {
		padding: 0 30px;
	}

}

/* планшеты вертикально */
@media (min-width: 768px) and (max-width: 991px) {

	.sendblock, .footer__logo, .text, .kat__head, .tovar-fishing {
		display: none;
	}

	.tovar__description {
		padding-right: 0;
	}

	.search-cat {
		margin-left: 11%;
	}

	.tovar__item {
		justify-content: center;
		padding-left: 60px;
	}

	.tovar__item-text {
		margin-left: 110px;
		margin-right: 100px;
	}

	.tovar-price {
		font-size: 25px;
	}

	.tovar-btn {
		padding: 0 35px;
		margin-top: 80px;
		height: 18%;
		font-size: 19px;
	}

	.tovar__description-text {
		font-size: 19px;
	}

	.ulmargin {
		font-size: 19px;
	}

	.container {
		display: block;
		margin: 0;
		padding: 0;
		width: 0;
	}

	.header__container {
		padding: 0 20px;
	}

	.header__line {
		width: 95%;
	}

	.nav__name {
		margin-left: 0;
	}

	.menu__title {
		display: flex;
		font-size: 25px;
		margin-left: 50px;
	}

	/* стилизуем кнопку */
	.menu__btn {
		display: flex; /* используем flex для центрирования содержимого */
		align-items: center;  /* центрируем содержимое кнопки */
		position: absolute;
		top: 31px;
		left: 118px;
		width: 26px;
		height: 26px;
	}

	.menu__btn2 {
		display: flex; /* используем flex для центрирования содержимого */
		align-items: center;  /* центрируем содержимое кнопки */
		position: absolute;
		top: 396px;
		left: 22px;
		width: 26px;
		height: 26px;
	}

	.menu__btn2-spin {
		top: 18.8%;
	}

	.tovar__item-img {
		width: 30%;
	}

	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
	}

	.menu__btn2 > span,
	.menu__btn2 > span::before,
	.menu__btn2 > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
	}

	.menu__btn > span::before {
		content: '';
		top: -8px;
	}

	.menu__btn2 > span::before {
		content: '';
		top: -8px;
	}

	.menu__btn > span::after {
		content: '';
		top: 8px;
	}

	.menu__btn2 > span::after {
		content: '';
		top: 8px;
	}

	/* контейнер меню */
	.menu__box {
		display: block;
		position: absolute;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 30%;
		height: 20%;
		margin: 0;
		padding: 80px 0 100px;
		list-style: none;
		text-align: center;
		background-color: #ECEFF1;
		border-radius: 25px 0;
	}

	.menu__box2 {
		display: block;
		position: absolute;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 35%;
		height: 100%;
		margin: 0;
		padding: 60px 0 0 0;
		list-style: none;
		text-align: center;
		background-color: #ECEFF1;
		border-radius: 25px 0;
		overflow: auto;
	}

	/* элементы меню */

	.menu__item {
		display: block;
		padding: 20px 24px;
		color: #333;
		text-decoration: none;
		font-size: 25px;
	}

	.menu__item2 {
		display: block;
		padding: 15px 24px;
		color: #333;
		text-decoration: none;
		font-size: 23px;
	}

	.menu__item:hover {
		background-color: #CFD8DC;
	}

	.menu__item2:hover {
		background-color: #CFD8DC;
	}

	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}

	#menu__toggle2:checked ~ .menu__btn2 > span {
		transform: rotate(45deg);
	}

	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle2:checked ~ .menu__btn2 > span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle2:checked ~ .menu__btn2 > span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle:checked ~ .menu__box {
		visibility: visible;
		left: 0;
	}

	#menu__toggle2:checked ~ .menu__box2 {
		visibility: visible;
		left: 0;
	}

	.login__nav {
		font-size: 25px;
	}

	.push {
		width: 45px;
	}

	.products {
		padding: 0 20px 0 20px;
	}

	.name {
		font-size: 35px;
	}

	.search {
		margin-right: 5px;
	}

	.searchblock {
		width: 250px;
	}

	.search__t {
		width: 215px;
	}

	.photo {
		width: 99%;
	}

	.kat__head2 {
		display: inline;
		opacity: 1;
		font-size: 26px;
		margin: 0;
	}

	.kat__nav__line:last-child {
		margin-bottom: 70px;
	}

	.shopes {
		font-size: 25px;
		margin-top: 15px;
		margin-bottom: 20px;
		margin-left: 35px;
	}

	.shopes2 {
		opacity: .8;
		margin-left: 3px;
	}

	.strelka {
		display: inline;
		width: 20px;
	}

	.sendblock {
		width: 300px;
		height: 40px;
	}

	.products__item {
		width: 31.3%;
		margin-right: 10px;
		height: 20%;
	}

	.products__item:hover {
		margin-right: 1.66%;
	}

	.products__item-spin {
		height: 23%;
	}

	.item {
		padding: 20px 0 0 0;
	}

	.item-spin {
		padding: 0 0 10px 0;
	}

	.item__photo {
		width: 80%;
	}

	.item__name {
		font-size: 22px;
		margin-top: 30px;
		margin-bottom: 15px;
	}

	.item__name-spin {
		margin-top: 0;
	}

	.price {
		font-size: 20px;
		margin-top: 20px;
	}

	.container__login {
		padding: 100px 0 10px 0;
	}

	.sign__form {
		width: 310px;
		height: 25px;
	}

	footer {
		margin-top: 12%;
	}

	.footer__main {
		padding: 30px 20px;
		justify-content: center;
	}

	.contacts__name {
		justify-content: center;
		font-size: 20px;
	}

	.footer__line {
		padding: 0 50px;
	}

	.contacts__text {
		font-size: 17px;
	}

}


/* телефоны горизонтально */
@media (max-width: 767px) {

	.main {
		padding-top: 0;
	}

	.tovar__title {
		margin: 0;
	}

	.tovar__item {
		justify-content: center;
	}

	.tovar__item-text {
		margin-left: 110px;
		margin-right: 65px;
	}

	.tovar__item-img {
		width: 27%;
	}

	.tovar__description {
		padding-right: 0;
	}

	.tovar-btn {
		padding: 0 40px;
		margin-top: 70px;
		height: 18%;
	}

	#main {
		display: block;
	}

	.searchblock, .sendblock, .footer__logo, .kat__head, .text, .tovar-fishing {
		display: none;
	}

	.header__container {
		padding: 0 20px;
	}

	.container {
		display: block;
		margin: 0;
		padding: 0;
		width: 0;
	}

	.header__line {
		width: 95%;
	}

	.menu__title {
		display: flex;
		font-size: 25px;
		margin-left: 50px;
	}

	/* стилизуем кнопку */
	.menu__btn {
		display: flex; /* используем flex для центрирования содержимого */
		align-items: center;  /* центрируем содержимое кнопки */
		position: absolute;
		top: 31px;
		left: 118px;
		width: 26px;
		height: 26px;
	}

	.menu__btn2 {
		display: flex; /* используем flex для центрирования содержимого */
		align-items: center;  /* центрируем содержимое кнопки */
		position: absolute;
		top: 171px;
		left: 20px;
		width: 26px;
		height: 26px;
	}

	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
	}

	.menu__btn2 > span,
	.menu__btn2 > span::before,
	.menu__btn2 > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
	}

	.menu__btn > span::before {
		content: '';
		top: -8px;
	}

	.menu__btn2 > span::before {
		content: '';
		top: -8px;
	}

	.menu__btn > span::after {
		content: '';
		top: 8px;
	}

	.menu__btn2 > span::after {
		content: '';
		top: 8px;
	}

	/* контейнер меню */
	.menu__box {
		display: block;
		position: absolute;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 24%;
		height: 35%;
		margin: 0;
		padding: 90px 0 80px 0;
		list-style: none;
		text-align: center;
		background-color: #ECEFF1;
		border-radius: 25px 0;
	}

	.menu__box2 {
		display: block;
		position: absolute;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 24%;
		height: 100%;
		margin: 0;
		padding: 70px 0 0px 0;
		list-style: none;
		text-align: center;
		background-color: #ECEFF1;
		border-radius: 25px 0;
		overflow: auto;
	}


	/* элементы меню */
	.menu__item {
		display: block;
		padding: 15px 24px;
		color: #333;
		text-decoration: none;
		font-size: 19px;
	}

	.menu__item2 {
		display: block;
		padding: 7px 24px;
		color: #333;
		text-decoration: none;
		font-size: 18px;
	}

	.menu__item:hover {
		background-color: #CFD8DC;
	}

	.menu__item2:hover {
		background-color: #CFD8DC;
	}

	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}

	#menu__toggle2:checked ~ .menu__btn2 > span {
		transform: rotate(45deg);
	}

	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle2:checked ~ .menu__btn2 > span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle2:checked ~ .menu__btn2 > span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle:checked ~ .menu__box {
		visibility: visible;
		left: 0;
	}

	#menu__toggle2:checked ~ .menu__box2 {
		visibility: visible;
		left: 0;
	}

	.login__nav {
		font-size: 25px;
	}

	.push {
		width: 45px;
	}

	.name {
		font-size: 35px;
		margin-bottom: 0;
	}

	.photo {
		display: none;
	}

	.kat__head2 {
		display: inline;
		opacity: 1;
		font-size: 22px;
		margin: 0;
	}

	.kat__nav__line {
		padding-top: 0;
	}

	.kat__nav__line:last-child {
		margin-bottom: 65px;
	}

	.shopes {
		font-size: 23px;
		margin-top: 15px;
		margin-bottom: 10px;
		margin-left: 35px;
	}

	.shopes2 {
		opacity: .8;
		margin-left: 3px;
	}

	.strelka {
		display: inline;
		width: 20px;
		margin-left: 3px;
	}

	.sendblock {
		width: 300px;
		height: 40px;
	}

	.products {
		padding: 0 20px 0 20px;
	}

	.products__item {
		width: 31.2%;
		margin-right: 10px;
	}

	.products__item:hover {
		margin-right: 12px;
	}

	.item {
		padding: 30px 0;
	}

	.item__photo {
		width: 60%;
	}

	.item__name {
		font-size: 20px;
		margin-top: 30px;
		margin-bottom: 15px;
	}

	.price {
		font-size: 18px;
	}

	.container__login {
		padding: 60px 0 10px 0;
	}

	.sign__form {
		width: 310px;
		height: 25px;
	}

	.footer__main {
		padding: 30px 20px;
		justify-content: center;
	}

	.contacts__name {
		justify-content: center;
	}

	.footer__line {
		padding: 0 50px;
	}

}

@media (min-width: 560px) and (max-width: 700px) {

	.searchblock, .sendblock, .footer__logo, .kat__head, .text, .header__logo, .adaptiv {
		display: none;
	}

	.main {
		padding-top: 0;
	}

	.tovar__item {
		justify-content: center;
	}

	.tovar__title {
		margin: 0;
		font-size: 18px;
	}

	.tovar__description {
		padding-right: 0;
	}

	.header__container {
		padding: 0 20px;
	}

	.container {
		display: block;
		margin: 0;
		padding: 0;
		width: 0;
	}

	.nav__name {
		margin-left: 0;
	}

	.header__line {
		width: 95%;
	}

	.menu__title {
		display: flex;
		font-size: 22px;
		margin-left: 50px;
	}

	/* стилизуем кнопку */
	.menu__btn {
		display: flex; /* используем flex для центрирования содержимого */
		align-items: center;  /* центрируем содержимое кнопки */
		position: absolute;
		top: 22px;
		left: 23px;
		width: 26px;
		height: 26px;
	}

	.menu__btn2 {
		display: flex; /* используем flex для центрирования содержимого */
		align-items: center;  /* центрируем содержимое кнопки */
		position: absolute;
		top: 151px;
		left: 20px;
		width: 26px;
		height: 26px;
	}

	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
	}

	.menu__btn2 > span,
	.menu__btn2 > span::before,
	.menu__btn2 > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
	}

	.menu__btn > span::before {
		content: '';
		top: -8px;
	}

	.menu__btn2 > span::before {
		content: '';
		top: -8px;
	}

	.menu__btn > span::after {
		content: '';
		top: 8px;
	}

	.menu__btn2 > span::after {
		content: '';
		top: 8px;
	}

	/* контейнер меню */
	.menu__box {
		display: block;
		position: absolute;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 30%;
		height: 40%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		text-align: center;
		background-color: #ECEFF1;
		border-radius: 25px 0;
	}

	.menu__box2 {
		display: block;
		position: absolute;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 30%;
		height: 90%;
		margin: 0;
		padding: 50px 0;
		list-style: none;
		text-align: center;
		background-color: #ECEFF1;
		border-radius: 25px 0;
		overflow: auto;
	}


	/* элементы меню */
	.menu__item {
		display: block;
		padding: 12px 0;
		color: #333;
		text-decoration: none;
		font-size: 18px;
	}

	.menu__item2 {
		display: block;
		padding: 12px 0;
		color: #333;
		text-decoration: none;
		font-size: 18px;
	}

	.menu__item:hover {
		background-color: #CFD8DC;
	}

	.menu__item2:hover {
		background-color: #CFD8DC;
	}

	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}

	#menu__toggle2:checked ~ .menu__btn2 > span {
		transform: rotate(45deg);
	}

	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle2:checked ~ .menu__btn2 > span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle2:checked ~ .menu__btn2 > span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle:checked ~ .menu__box {
		visibility: visible;
		left: 0;
	}

	#menu__toggle2:checked ~ .menu__box2 {
		visibility: visible;
		left: 0;
	}

	.login__nav {
		font-size: 22px;
	}

	.push {
		width: 40px;
	}

	.name {
		font-size: 32px;
		margin-bottom: 0;
	}

	.photo {
		display: none;
	}

	.kat__head2 {
		display: inline;
		font-size: 20px;
		margin: 0;
	}

	.kat__nav__line {
		padding-top: 0;
	}

	.shopes {
		font-size: 22px;
		margin-top: 15px;
		margin-bottom: 10px;
		margin-left: 35px;
	}

	.shopes2 {
		opacity: .8;
		margin-left: 3px;
	}

	.strelka {
		display: inline;
		width: 20px;
		margin-left: 3px;
	}

	.sendblock {
		width: 300px;
		height: 40px;
	}

	.products {
		padding: 0 15px 0 15px;
	}

	.products__item {
		width: 100%;
		height: auto;
	}

	.products__item:hover {
		margin-right: 0;
		margin-bottom: 24px;
	}

	.item {
		display: flex;
		padding: 10px 40px;
		align-items: center;
		justify-content: space-between;
	}

	.item__photo {
		width: 30%;
	}

	.item__name {
		font-size: 20px;
		margin: 0;

	}

	.price {
		font-size: 17px;
		margin-top: 15px;
	}

	.container__login {
		padding-top: 40px;
	}

	.sign__form {
		height: 15px;
	}

	.footer__main {
		padding: 30px 20px;
		justify-content: center;
	}

	.contacts__name {
		justify-content: center;
	}

	.footer__line {
		padding: 0 50px;
	}

}

/* телефоны вертикально */
@media (max-width: 480px) {

	.searchblock, .kat__head, .sendblock, .footer__logo, .header__logo, .footer__line, .text, .tovar-fishing, .adaptiv, .tovar__title {
		display: none;
	}

}


/* телефоны вертикально (Moto G4-iphone 6/7/8/X) */
@media (min-width: 319px) and (max-width: 375px) {

	.searchblock, .kat__head, .sendblock, .footer__logo, .header__logo, .footer__line, .text {
		display: none;
	}

	#main {
		padding: 0;
	}

	.item__text {
		margin-top: 95px;
		margin-left: 10px;
	}

	.products {
		padding: 0 12px;
	}

	.item {
		padding: 0;
	}

	.header__container {
		padding: 10px 20px;
	}

	.fishline,
	.fishline_a,
	.fishrod,
	.fishrod_a,
	.spin,
	.spin_a,
	.coils,
	.coils_a,
	.bombards,
	.bombards_a,
	.carbines,
	.carbines_a,
	.scales,
	.scales_a,
	.sinkers,
	.sinkers_a,
	.tools,
	.tools_a,
	.feeders,
	.feeders_a,
	.hooks,
	.hooks_a,
	.clothes,
	.clothes_a,
	.leashes,
	.leashes_a,
	.subchecks,
	.subchecks_a,
	.floats,
	.floats_a,
	.bait,
	.bait_a,
	.baits,
	.baits_a,
	.cages,
	.cages_a,
	.chairs,
	.chairs_a,
	.covers,
	.covers_a {
		background-image: none;
		margin-left: 25px;
	}

	.fishline {
		background-image: none;
	}

	.fishline:hover,
	.fishline_a {
		background-image: none;
	}

	.fishrod {
		background-image: none;
	}

	.fishrod:hover,
	.fishrod_a {
		background-image: none;
	}

	.spin {
		background-image: none;
	}

	.spin:hover,
	.spin_a {
		background-image: none;

	}

	.coils {
		background-image: none;
	}

	.coils:hover,
	.coils_a {
		background-image: none;
	}

	.bombards {
		background-image: none;
	}

	.bombards:hover,
	.bombards_a {
		background-image: none;
	}

	.carbines {
		background-image: none;
	}

	.carbines:hover,
	.carbines_a {
		background-image: none;
	}

	.scales {
		background-image: none;
	}

	.scales:hover,
	.scales_a {
		background-image: none;
	}

	.sinkers {
		background-image: none;
	}

	.sinkers:hover,
	.sinkers_a {
		background-image: none;
	}

	.tools {
		background-image: none;
	}

	.tools:hover,
	.tools_a {
		background-image: none;
	}

	.feeders {
		background-image: none;
	}

	.feeders:hover,
	.feeders_a {
		background-image: none;
	}

	.hooks {
		background-image: none;
	}

	.hooks:hover,
	.hooks_a {
		background-image: none;
	}

	.clothes {
		background-image: none;
	}

	.clothes:hover,
	.clothes_a {
		background-image: none;
	}

	.leashes {
		background-image: none;
	}

	.leashes:hover,
	.leashes_a {
		background-image: none;
	}

	.subchecks {
		background-image: none;
	}

	.subchecks:hover,
	.subchecks_a {
		background-image: none;
	}

	.floats {
		background-image: none;
	}

	.floats:hover,
	.floats_a {
		background-image: none;
	}

	.bait {
		background-image: none;
	}

	.bait:hover,
	.bait_a {
		background-image: none;
	}

	.baits {
		background-image: none;
	}

	.baits:hover,
	.baits_a {
		background-image: none;
	}

	.cages {
		background-image: none;
	}

	.cages:hover,
	.cages_a {
		background-image: none;
	}

	.chairs {
		background-image: none;
	}

	.chairs:hover,
	.chairs_a {
		background-image: none;
	}

	.covers {
		background-image: none;
	}

	.covers:hover,
	.covers_a {
		background-image: none;
	}

	.products__item-bgimgfishrod,
	.products__item-bgimgspin,
	.products__item-bgimgcoils,
	.products__item-bgimgbombards,
	.products__item-bgimgcarbines,
	.products__item-bgimgscales,
	.products__item-bgimgsinkers,
	.products__item-bgimgtools,
	.products__item-bgimgfeeders,
	.products__item-bgimghooks,
	.products__item-bgimgclothes,
	.products__item-bgimgleashes,
	.products__item-bgimgsubchecks,
	.products__item-bgimgfloats,
	.products__item-bgimgbait,
	.products__item-bgimgbaits,
	.products__item-bgimgcages,
	.products__item-bgimgchairs,
	.products__item-bgimgcovers {
		background-size: 156px;
	}

	.item__bgimgspin,
	.item__bgimgfishrod,
	.item__bgimgcoils,
	.item__bgimgbombards,
	.item__bgimgcarbines,
	.item__bgimgscales,
	.item__bgimgsinkers,
	.item__bgimgtools,
	.item__bgimgfeeders,
	.item__bgimghooks,
	.item__bgimgclothes,
	.item__bgimgleashes,
	.item__bgimgsubchecks,
	.item__bgimgfloats,
	.item__bgimgbait,
	.item__bgimgbaits,
	.item__bgimgcages,
	.item__bgimgchairs,
	.item__bgimgcovers {
		top: 171px;
		width: 146px;
		height: 97px;
		background-size: 38px;
	}

	.item__bgimgspin {
		background-size: 44px;
	}

	.item__bgimgfishrod {
		background-size: 35px;
	}

	.item__bgimgcoils,
	.item__bgimgbombards {
		top: 345px;
	}

	.item__bgimgcarbines,
	.item__bgimgscales {
		top: 517px;
	}

	.item__bgimgtools,
	.item__bgimgfeeders {
		top: 691px;
	}

	.item__bgimghooks,
	.item__bgimgclothes {
		top: 863px;
	}

	.item__bgimgleashes,
	.item__bgimgsubchecks {
		top: 1036px;
	}

	.item__bgimgfloats,
	.item__bgimgbait {
		top: 1210px;
	}

	.item__bgimgbaits,
	.item__bgimgcages {
		top: 1383px;
	}

	.item__bgimgchairs,
	.item__bgimgcovers {
		top: 1556px;
	}

	.item__bgimgspin,
	.item__bgimgcoils,
	.item__bgimgcarbines,
	.item__bgimgtools,
	.item__bgimghooks,
	.item__bgimgleashes,
	.item__bgimgfloats,
	.item__bgimgbaits,
	.item__bgimgchairs {
		left: 24px;
	}

	.item__bgimgfishrod,
	.item__bgimgbombards,
	.item__bgimgfeeders,
	.item__bgimgcages,
	.item__bgimgsubchecks,
	.item__bgimgscales,
	.item__bgimgclothes,
	.item__bgimgbait,
	.item__bgimgcovers {
		left: 201px;
	}


	.push {
		width: 42px;
	}

	.name {
		font-size: 25px;
	}

	.menu__btn {
		top: 11px;
		left: 15px;
	}

	.menu__btn2 {
		top: 120px;
		left: 15px;
	}
	.menu__title,
	.login__nav {
		font-size: 22px;
	}

	.menu__title {
		margin-left: 30px;
	}

	.login__nav {
		margin-left: 10px;
	}

	.shopes {
		margin-left: 30px;
	}

	.products__item {
		margin-right: 15px;
		width: 156px;
		height: 156px;
		margin-bottom: 15px;
	}

	.products__item:nth-child(5),
	.products__item:nth-child(7),
	.products__item:nth-child(9),
	.products__item:nth-child(11),
	.products__item:nth-child(13),
	.products__item:nth-child(15),
	.products__item:nth-child(17),
	.products__item:nth-child(19),
	.products__item:nth-child(21) {
		margin-right: 0px;
	}

	.products__item:nth-child(5):hover,
	.products__item:nth-child(7):hover,
	.products__item:nth-child(9):hover,
	.products__item:nth-child(11):hover,
	.products__item:nth-child(13):hover,
	.products__item:nth-child(15):hover,
	.products__item:nth-child(17):hover,
	.products__item:nth-child(19):hover,
	.products__item:nth-child(21):hover {
		margin-right: 0px;
	}













	.products__item:hover {
		margin-right: 16px;
	}


	.menu__box {
		width: 50%;
		border-radius: 0 0 25px 0;
		text-align: left;
	}

	.menu__item {
		padding: 15px 24px;
	}

	.menu__box2 {
		width: 50%;
		border-radius: 0 0 25px 0;
		text-align: left;
	}

	.btn {
		margin-left: 32.47%;
	}

	.sign {
		padding: 15px 20px 50px 20px;
	}

	.sign__form {
		width: 215px;
		height: 20px;
	}

}